// plans styles
.plans-content{
	.item-plan{
		background-color: $white;
		background-image: url("../assets/bgPlan.png");
		background-repeat: no-repeat;
		background-position: center -180px;
		background-size: contain;
		&__price-content{
			text-align: center;

		}
		&__price-value{
			font-size: $fz-40;
			display:inline-block;
			vertical-align: baseline;
			&:before{
				content:"€";
				font-size: rem(16);
				display: inline-block;
				vertical-align: baseline;
			}
			&:after{
				content:"/mo";
				font-size: rem(16);
				display: inline-block;
				vertical-align: baseline;
			}
		}
		&__title-plan{
			padding-top:30px;
		}
		&__button{
			padding-top:10px;
			padding-bottom:10px;
			border-radius:0;
		}
		&__img-plan{
			text-align: center;
			margin-top: 30px;
			max-height: 100px;
		}
		&__list-benefit{
			padding-left:0;
		}
		@media (min-width: 768px) {
			max-width: 32%;
		}
	}
}