.search-domain{
	margin-top:-120px;
	padding:100px 0 70px 0;
	&__input-text{
		height: 70px;
		width: 70%;
		border-radius:4px 0 0 4px;
		@extend .box-shadow;
		display: inline-block;
		vertical-align: middle;
	}
	&__input-button{
		border-radius:0 4px 4px 0;
		height: 70px;
		display: inline-block;
		vertical-align: middle;
		width: 30%;
	}
	&__pricing-extension{
		margin-top: 20px;
		width: 70%;
		ul{
			list-style: none;
			margin: 0;
			padding: 0;
			li{
				font-size: rem(13);
			}
		}
	}
}