
/*Topbar styles*/
.topbar{
	display:none;
	&__menu{
		margin-bottom:0;
		padding:10px 0;
		li{
			display: inline;
			font-size: rem(13);
			margin-right:40px;
		}
		&--left{
			text-align: left;
		}
		&--right{
			text-align: right;
		}
	}
	@media (min-width: 992px) {
		display:block;
	}
}
/*Topbar styles end*/
