// content values block
.content-values{
	&__item-value{
		cursor: pointer;
		figure{
			transition: all .3s ease-in-out;
			transform: scale(1);
		}
		&:nth-child(2){
			border-left:1px solid #e1e0e0;
			border-right:1px solid #e1e0e0;
		}
		@media screen and (min-width:992px) {
			&:hover{
				figure{
					cursor: pointer;
					transition: all .3s ease-in-out;
					transform: scale(1.2);
				}
			}
		}
	}
}