/*Función que convierte pixeles en rem*/
@function rem($pixels, $context: $baseFontSize) {
  @if (unitless($pixels)) {
    $pixels: $pixels * 1px;
  }

  @if (unitless($context)) {
    $context: $context * 1px;
  }

  @return $pixels / $context * 1rem;
}
/*Función que convierte pixeles en rem end*/


/*Variables generales*/
$baseFontSize:16;
$roboto:'Roboto', sans-serif;
$awesome: "Font Awesome 5 Free";
$brands:"Font Awesome 5 Brands";


// font sizes
$fz-40:rem(40);
$fz-30:rem(30);

/*colores generales*/
$blue-dark:#2f3f54;
$white:#fff;
$blue-light:#848a94;
$blue:#2575e7;
$green:#28aa15;
$green-light:#00e2aa;
$orange:#ea3700;
$gray-light:#eae6e642;


// general Styles
html{
	font-size: 16px;
}
*{
	font-family: $roboto;
}

// font sizes classes
.fz{
	&-40{
		font-size: rem(40);
	}
	&-20{
		font-size: rem(20);
	}
}

// new widths add
.w{
	&-70{
		width: 70% !important;
	}
}
/*Colores de fondo*/
.bg{
	&-dark-blue{
		background-color: $blue-dark;
	}
	&-white{
		background-color: $white;
	}
	&-blue{
		background-color: $blue;
	}
	&-gray-light{
		background-color: $gray-light;
	}
}
/*Colores de fondo end*/


/*colores de fuente*/
.c{
	&-white{
		color: $white;
	}
	&-blue{
		color: $blue;
		&-light{
			color:$blue-light;
		}
		&-dark{
			color: $blue-dark;
		}
	}
	&-green{
		color: #28aa15;
		&-light{
			color: #00e2aa;
		}
	}
	&-orange{
		color: #ea3700;
	}
}
/*colores de fuente end*/


/*Icon List Styles*/
.iconList{
	list-style: none;
}
/*Icon List Styles end*/	


/*Clases generales*/
.awesome{
	font-family: $awesome !important;
	display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    transition: all .3s ease;
    &-brand{
    		font-family: $brands !important;
    		display: inline-block;
    	    font-style: normal;
    	    font-variant: normal;
    	    text-rendering: auto;
    	    -webkit-font-smoothing: antialiased;
    	    transition: all .3s ease;
    }
}

// paddings
.pdd{
	&-sides{
		&--50{
			padding-left: 50px;
			padding-right: 50px;
		}
		&--none{
			padding-left: 0px;
			padding-right: 0px;
		}
	}
	&-up-down{
		&--80{
			padding-top: 80px;
			padding-bottom: 80px;
		}
		&--50{
			padding-top: 50px;
			padding-bottom: 50px;
		}
	}
	&-bottom{
		&--80{
			padding-bottom: 80px;
		}
		&--50{
			padding-bottom: 50px;
		}
	}
	&-left{
		&--70{
			padding-left: 70px;
		}
	}
	&-top{
		&--100{
			padding-top: 100px;
		}
		&--50{
			padding-top: 50px;
		}
		&--80{
			padding-top: 80px;
		}
	}
}

// margins
.m{
	&t{
		&--50{
			margin-top: 50px;
		}
		&--100{
			margin-top: 100px;
		}
	}
	&b{
		&--50{
			margin-bottom: 50px;
		}
		&--100{
			margin-bottom: 100px;
		}
		&--none{
			margin-bottom: 0;
		}
	}

}

// sombra general
.box-shadow{
	box-shadow:0 11px 15px rgba(0,0,0,.1);
}

/*List icon style*/
.iconList{
	cursor: pointer;
	&:before{
		margin-right:10px;
		vertical-align: middle;
		@extend .awesome;
	}
	i{
		@extend .awesome-brand;
	}
	&-check{
		&:before{
			content:"\f058";
			font-weight: 900;
			color:$blue;
			font-size: 20px;
		}
		&:hover::before{
			color:$green;
		}
	}
	&--simple-check{
		&:before{
			content:"\f00c";
			font-weight: 900;
			color:#4a6385;
			font-size: 20px;
		}
		&:hover::before{
			color:$blue;
		}
	}
	&--language{
		&:before{
			content:"\f57d";
			font-weight: 900;
			color:#006994;
		}
		&:hover::before{
			color:#008C8C;
		}
	}
	&--mail{
		&:before{
			content:"\f0e0";
			font-weight: 400;
		}
	}
	&--phone{
		&:before{
			content:"\f2a0";
			font-weight: 900;
		}
	}
	&--wish{
		&:before{
			content:"\f004";
			font-weight: 400;
			color: #a83f39;

		}
		&:hover::before{
			font-weight: 900;
		}
	}
	&--account{
		&:before{
			content:"\f007";
			font-weight: 900;
			color:$white;
		}
	}
}
/*List icon style end*/


